{% extends 'mobile/driver_base.html' %}

{% block content %}
{% load static %}
<div class="home-content" id="home-content">
    <div class="header" id="header">
        <div class="row">
            <div class="col-8 justify-content-center">
                <h2>Active Trips</h2>
            </div>
            <div class="col-4 justify-content-center" id="add-item-cont">
                <button type='btn' class= 'new-item' id="new-item" onclick="location.href='{% url 'SDMS:driver-newtrip' %}'">New +</button>
            </div>
        </div>
        <div class="search-box" id="search-box">
            <input class="form-control" type="text" id="tripSearch" name="tripSearch" placeholder="Search...">
        </div>
        <div class="trip-container" id="trip-container">
            <div class="trip-init" id="trip-init">
                {% for t in trips %}
                <div class="trip-item" id="trip-item">
                    <div class="item-wrapper" id="item-wrapper">
                        <div class="row">
                            <div class="col-10 justify-content-center">
                                <h3>{{t.ref_num}}</h3>
                                <p>Farm: {{t.farm}}</p>
                                <p>Petsa: {{t.trip_date|date:'Y-m-d'}}</p>
                                <p>Bilang ng Bag: {{t.bag_count}}</p>
                            </div>
                            <div class="col-2 justify-content-center" id="action-cont">
                                <div class="view-item" id="view-item">
                                    <a class="btn" href="{% url 'SDMS:driver-viewtrip' t.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="trip-container-output" id="trip-container-output">
                <div class="trip-output" id="trip-output">
                    
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/mobile/driver_trip_search.js' %}"></script>
</div>
{% endblock %}