{% extends 'mobile/management_base.html' %}

{% block content %}
{% load static %}
<div class="home-content" id="home-content">
    <div class="trip-info" id="trip-info">
        <div class="header" id="header">
            <h2>Overview</h2>
        </div>
        <div class="trip count" id="trip-count">
            <div class="row">
                <div class="col-6 justify-content-center">
                    <div class="active-trips" id="active-trips">
                        <h3>{{active_trips}}</h3>
                        <h4>active trips</h4>
                    </div>
                </div>
                <div class="col-6 justify-content-center">
                    <div class="completed-trips" id="completed-trips">
                        <h3>{{unpaid_trips}}</h3>
                        <h4>unpaid trips</h4>
                    </div>
                </div>
            </div>
            <div class="bag-count" id="bag-count-home">
                <h3>Php {{receivables}}</h3>
                <h4>total receivables</h4>
            </div>
        </div>
    </div>
    <div class="trip-info" id="trip-info">
        <div class="header" id="header">
            <h2>Trips Today</h2>
        </div>
        {% for t in trips_today %}
        <div class="trip-item" id="trip-item">
            <div class="item-wrapper" id="item-wrapper">
                <div class="row">
                    <div class="col-10 justify-content-center">
                        <h3>{{t.ref_num}}</h3>
                        <p>Farm: {{t.farm}}</p>
                        <p>Trip Date: {{t.trip_date|date:'Y-m-d'}}</p>
                        <p>Bag Count: {{t.bag_count}}</p>
                    </div>
                    <div class="col-2 justify-content-center" id="action-cont">
                        <div class="view-item" id="view-item">
                            <a class="btn" href="{% url 'SDMS:management-viewtrip' t.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        {% for msg in messages %}
        alertify.set('notifier','position', 'top-center');
        alertify.success('{{msg}}');
        {% endfor %}
    </script>
</div>
{% endblock %}