{% extends 'mobile/superuser_base.html' %}

{% block content %}
{% load static %}
<div class="home-content" id="home-content">
    <div class="header" id="header">
        <div class="row">
            <div class="col-8 justify-content-center">
                <h2>All Clients</h2>
            </div>
            <div class="col-4 justify-content-center" id="add-item-cont">
                <button type='btn' class= 'new-item' id="new-item" onclick="location.href='{% url 'SDMS:superuser-newcompany' %}'">New +</button>
            </div>
        </div>
        <div class="search-box" id="search-box">
            <input class="form-control" type="text" id="clientSearch" name="clientSearch" placeholder="Search...">
        </div>
        <div class="trip-container" id="trip-container">
            <div class="trip-init" id="trip-init">
                {% for c in clients %}
                <div class="trip-item" id="trip-item">
                    <div class="item-wrapper" id="item-wrapper">
                        <div class="row">
                            <div class="col-9 justify-content-center">
                                <h3>{{c.company_name}}</h3>
                                <p>Address: {{c.address_line_1}} {{c.address_line_2}} {{c.city}} {{c.province}} {{c.zip_code}}</p>
                                <p>Email Address: {{c.email_address}}</p>
                            </div>
                            <div class="col-3 justify-content-center" id="action-cont">
                                <div class="view-item" id="superuser-view-item">
                                    <div class="row">
                                        <div class="col-6 justify-content-center" id="view">
                                            <a class="btn" href="{% url 'SDMS:superuser-editcompany' c.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </div>
                                        <div class="col-6 justify-content-center" id="delete">
                                            <a class="btn" href="{% url 'SDMS:client-delete' c.id %}"><i class="fa-solid fa-trash-can"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="trip-container-output" id="trip-container-output">
                <div class="trip-output" id="trip-output">
                    
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/mobile/client_search.js' %}"></script>
</div>
{% endblock %}