{% extends 'mobile/superuser_base.html' %}

{% block content %}
{% load static %}
<div class="home-content" id="home-content">
    <div class="form-container" id="form-container">
        <h1>Ref No. {{reference_number}}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="select-box-form" id="select-box-form">
                <div class="options-container" id="options-container">
                    {{ form.farm.errors }}
                    {% for f in form.farm %}
                    <div class="option" id="option">
                        {{ f.tag }}
                        <label for="{{ f.id_for_label }}">{{ f.choice_label }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="selected" id="selected">
                    <div class="row">
                        <div class="col-10 justify-content-center" id="select-label">
                            {{current_farm}}
                        </div>
                        <div class="col-2 justify-content-center" id="select-icon-container">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-box-form" id="select-box-form">
                <div class="options-container-2" id="options-container">
                    {{ form.truck.errors }}
                    {% for f in form.truck %}
                    <div class="option-2" id="option">
                        {{ f.tag }}
                        <label for="{{ f.id_for_label }}">{{ f.choice_label }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="selected-2" id="selected">
                    <div class="row">
                        <div class="col-10 justify-content-center" id="select-label">
                            {{current_truck}}
                        </div>
                        <div class="col-2 justify-content-center" id="select-icon-container">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="date-field">
                {{ form.trip_date.errors }}
                {{ form.trip_date }}
                <span></span>
                <label>Trip Date</label>
            </div>
            <div class="form-field" id="form-field">
                {{ form.bag_count.errors }}
                {{ form.bag_count }}
                <span></span>
                <label>Bag Count</label>
            </div>
            <div class="form-field" id="form-field">
                {{ form.helper_1.errors }}
                {{ form.helper_1 }}
                <span></span>
                <label>Helper 1 (N/A if none)</label>
            </div>
            <div class="form-field" id="form-field">
                {{ form.helper_2.errors }}
                {{ form.helper_2 }}
                <span></span>
                <label>Helper 2 (N/A if none)</label>
            </div>
            <div class="form-field" id="form-field">
                {{ form.helper_3.errors }}
                {{ form.helper_3 }}
                <span></span>
                <label>Helper 3 (N/A if none)</label>
            </div>
            <div class="submit-container" id="submit-container">
                <button type='submit' class= 'submit-button' id="submit-button">Save</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/selected2.js' %}"></script>
    <script>
        {% for msg in messages %}
        alertify.set('notifier','position', 'top-center');
        alertify.warning('{{msg}}');
        {% endfor %}
    </script>
</div>
{% endblock %}