{% extends 'mobile/superuser_base.html' %}

{% block content %}
{% load static %}
<div class="home-content" id="home-content">
    <div class="form-container" id="form-container">
        <h1>New User</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="pfp-container" id="pfp-container">
                <div class="wrapper" id="pfp-wrapper">
                    <div class="pfp-image" id="pfp-image">
                        <img src="{% static 'img/user-default.png' %}" alt="" id="pfp-photo">
                    </div>
                </div>
            </div>
            <input type="file" id="default-btn" name="profile_picture" accept=".png,.jpg,.jpeg" hidden>
            <div class="upload-btn-container" id="upload-btn-container">
                <button type="button" onclick="defaultBtnActive()" id="custom-btn">Choose image</button>
            </div>
            <div class="txt_field" id="form-field">
                <input type="text" name="first_name" value="" maxlength="50" required>
                <span></span>
                <label>First Name</label>
            </div>
            <div class="txt_field" id="form-field">
                <input type="text" name="middle_name" value="" maxlength="50" required>
                <span></span>
                <label>Middle Name</label>
            </div>
            <div class="txt_field" id="form-field">
                <input type="text" name="last_name" value="" maxlength="50" required>
                <span></span>
                <label>Last Name</label>
            </div>
            <div class="select-box-form" id="select-box-form">
                <div class="options-container" id="options-container">
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Admin" name="user-role" value="Admin">
                        <label for="Admin">Admin</label>
                    </div>
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Management" name="user-role" value="Management">
                        <label for="Management">Management</label>
                    </div>
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Staff" name="user-role" value="Staff">
                        <label for="Staff">Staff</label>
                    </div>
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Driver" name="user-role" value="Driver">
                        <label for="Driver">Driver</label>
                    </div>
                </div>
                <div class="selected" id="selected">
                    <div class="row">
                        <div class="col-10 justify-content-center" id="select-label">
                            Select Role
                        </div>
                        <div class="col-2 justify-content-center" id="select-icon-container">
                            <i class='bx bx-chevron-down' ></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="txt_field" id="form-field">
                <input type="text" name="contact_number" value="" maxlength="15" required>
                <span></span>
                <label>Contact Number</label>
            </div>
            <div class="txt_field" id="form-field">
                <input type="text" name="email_address" value="" maxlength="50" required>
                <span></span>
                <label>Email Address (N/A if none)</label>
            </div>
            <div class="txt_field" id="form-field">
                <input type="text" name="username" value="" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field" id="form-field">
                <input type="password" name="password1" value="" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field" id="form-field">
                <input type="password" name="password2" value="" required>
                <span></span>
                <label> Confirm Password</label>
            </div>
            <div class="submit-container" id="submit-container">
                <button type='submit' class= 'submit-button' id="submit-button">Save</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/selected1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mobile/button.js' %}"></script>
</div>
{% endblock %}