{% extends 'mobile/superuser_base.html' %}

{% block content %}
{% load static %}
<div class="home-content" id="home-content">
    <div class="form-container" id="form-container">
        <h1>New User</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ account_form.non_field_errors }}
            {{ user_form.non_field_errors }}
            <div class="pfp-container" id="pfp-container">
                <div class="wrapper" id="pfp-wrapper">
                    <div class="pfp-image" id="pfp-image">
                        <img src="{% static 'img/user-default.png' %}" alt="" id="pfp-photo">
                    </div>
                </div>
            </div>
            {{ account_form.profile_pic }}
            <div class="upload-btn-container" id="upload-btn-container">
                <button type="button" onclick="defaultBtnActive()" id="custom-btn">Choose image</button>
            </div>
            <div class="txt_field" id="form-field">
                {{ account_form.first_name.errors }}
                {{ account_form.first_name }}
                <span></span>
                <label>First Name</label>
            </div>
            <div class="txt_field" id="form-field">
                {{ account_form.middle_name.errors }}
                {{ account_form.middle_name }}
                <span></span>
                <label>Middle Name</label>
            </div>
            <div class="txt_field" id="form-field">
                {{ account_form.last_name.errors }}
                {{ account_form.last_name }}
                <span></span>
                <label>Last Name</label>
            </div>
            <div class="select-box-form" id="select-box-form">
                <div class="options-container" id="options-container">
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Admin" name="user-role" value="Admin">
                        <label for="Admin">Admin</label>
                    </div>
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Management" name="user-role" value="Management">
                        <label for="Management">Management</label>
                    </div>
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Staff" name="user-role" value="Staff">
                        <label for="Staff">Staff</label>
                    </div>
                    <div class="option" id="option">
                        <input type="radio" class="radio" id="Driver" name="user-role" value="Driver">
                        <label for="Driver">Driver</label>
                    </div>
                </div>
                <div class="selected" id="selected">
                    <div class="row">
                        <div class="col-10 justify-content-center" id="select-label">
                            Select Role
                        </div>
                        <div class="col-2 justify-content-center" id="select-icon-container">
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="txt_field" id="form-field">
                {{ account_form.contact_number.errors }}
                {{ account_form.contact_number }}
                <span></span>
                <label>Contact Number</label>
            </div>
            <div class="txt_field" id="form-field">
                {{ account_form.email_address.errors }}
                {{ account_form.email_address }}
                <span></span>
                <label>Email Address (N/A if none)</label>
            </div>
            <div class="txt_field" id="form-field">
                {{ user_form.username.errors }}
                {{ user_form.username }}
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field" id="form-field">
                {{ user_form.password1.errors }}
                {{ user_form.password1 }}
                <span></span>
                <label>Password</label>
            </div>
            <div class="txt_field" id="form-field">
                {{ user_form.password2.errors }}
                {{ user_form.password2 }}
                <span></span>
                <label>Confirm Password</label>
            </div>
            <div class="submit-container" id="submit-container">
                <button type='submit' class= 'submit-button' id="submit-button">Save</button>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="{% static 'js/selected1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mobile/button.js' %}"></script>
</div>
{% endblock %}