{% extends 'staff_navbar.html' %}

{% block content %}
{% load static %}
<div class="management-trips-container">
    <div class="row">
        <div class="col-3 justify-content-center">
            <h1>Trip Report</h1>
        </div>
        <div class="col-4 justify-content-center">
            <div class="form-group">
                <div class="search-box-trips">
                    <input class="form-control" type="text" id="tripSearch" name="tripSearch" placeholder="Search...">
                </div>
            </div>
        </div>
        <div class="col-2 justify-content-center">
            <button type='button' class= 'report-btn' onclick="location.href='{% url 'SDMS:management-generatetripreport' %}'"> Generate CSV </button>
        </div>
        <div class="col-3 justify-content-center">
            <button type='button' class= 'new-btn' onclick="location.href='{% url 'SDMS:staff-newtrip' %}'"> Bagong Trip </button>
        </div>
    </div>
    <div class="app-table" id="trip-init">
        <table class = "trip-table-2" >
            <thead class= "trip-header">
                <tr>
                    <th>Ref No.</th>
                    <th>Farm</th>
                    <th>Truck</th>
                    <th>Driver</th>
                    <th>Bags Delivered</th>
                    <th>Trip Date</th>
                    <th>Trip Status</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="trip-body">
                {% for t in trips %}
                <tr>
                    <td id="table-body" data-heading="Ref No.">{{t.ref_num}}</td>
                    <td id="table-body" data-heading="Farm">{{t.farm}}</td>
                    <td id="table-body" data-heading="Truck">{{t.truck}}</td>
                    <td id="table-body" data-heading="Driver">{{t.truck.driver}}</td>
                    <td id="table-body" data-heading="Bags Delivered">{{t.bag_count}}</td>
                    <td id="table-body" data-heading="Trip Date">{{t.trip_date|date:'Y-m-d'}}</td>
                    <td id="table-body" data-heading="Trip Status">{{t.trip_status}}</td>
                    <td id="table-body" data-heading="Payment Status">{{t.payment_status}}</td>
                    <td id="table-body" data-heading="Action">
                        <a href="{% url 'SDMS:staff-viewtrip' t.id %}" class="table-edit-btn" id="table-edit-btn">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="trip-table-output" id="trip-table-output">
        <table class = "trip-table-2">
            <thead class= "trip-header">
                <tr>
                    <th>Ref No.</th>
                    <th>Farm</th>
                    <th>Truck</th>
                    <th>Driver</th>
                    <th>Bags Delivered</th>
                    <th>Trip Date</th>
                    <th>Trip Status</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="trip-body" id="trip-body">
                
            </tbody>
        </table>
        <div class="table-error-msg" id="table-error">

        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/staff_trip_search.js' %}"></script>
{% endblock %}