{% extends 'staff_navbar.html' %}

{% block content %}
{% load static %}
<div class="row">
    <div class="col-2 justify-content-center">
        <div class="home-container-1">
            <h1>{{unpaid_trips}}</h1>
            <h4>unpaid trips</h4>
        </div>
        <div class="home-container-1">
            <h1>{{active_trips}}</h1>
            <h4>active trips</h4>
        </div>
    </div>
    <div class="col-10 justify-content-center">
        <div class="calendar disable-selection">
            <div class="calendar-wrapper" id="calendar-wrapper">
                <div class="row">
                    <div class="col-6 justify-content-center">
                        <div class="calendar-left">
                            <div class="row" id="calendar-header">
                                <div class="col-9 justify-content-center">
                                    <div class="current-month-year" id="current-month-year">
                                        <h1></h1>
                                    </div>
                                </div>
                                <div class="col-3 justify-content-center">
                                    <div class="text-left calendar-change-year" id="change-year">
                                        <div class="calendar-change-year-slider" id="change-year-slider">
                                            <span class="fa fa-chevron-left prev"></span>
                                            <span class="fa fa-chevron-right next"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="weekdays" id="weekdays">
                                <div>Sun</div>
                                <div>Mon</div>
                                <div>Tue</div>
                                <div>Wed</div>
                                <div>Thu</div>
                                <div>Fri</div>
                                <div>Sat</div>
                            </div>
                            <div class="days" id="days">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-6 justify-content-center" id="calendar-event-col">
                        <div class="calendar-right" id="calendar-right">
                            <div class="right-label" id="right-label">
                                <div class="calendar-event-container" id="calendar-event-container">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/calendar.js' %}"></script>
</div>
{% endblock %}