{% extends 'superuser_navbar.html' %}

{% block content %}
{% load static %}
<div class="form-container">
    <h1>{{screen}}</h1>
    {% if form_id == 0 %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form_field">
            {{ form.farm_name.errors }}
            {{ form.farm_name }}
            <span></span>
            <label>Farm Name</label>
        </div>
        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form_field">
                    {{ form.address_line_1.errors }}
                    {{ form.address_line_1 }}
                    <span></span>
                    <label>Address Line 1</label>
                </div>
            </div>
            <div class="col-6 justify-content-center">
                <div class="form_field">
                    {{ form.address_line_2.errors }}
                    {{ form.address_line_2 }}
                    <span></span>
                    <label>Address Line 2 (N/A if none)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.city.errors }}
                    {{ form.city }}
                    <span></span>
                    <label>City</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.province.errors }}
                    {{ form.province }}
                    <span></span>
                    <label>Province</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.zip_code.errors }}
                    {{ form.zip_code }}
                    <span></span>
                    <label>Zip Code</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.distance.errors }}
                    {{ form.distance }}
                    <span></span>
                    <label>Distance</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.capacity.errors }}
                    {{ form.capacity }}
                    <span></span>
                    <label>Capacity</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="select-box-form">
                    <div class="options-container">
                        {% for item in form.company %}
                        <div class="option">
                            {{ item.tag }}
                            <label for="{{ item.id_for_label }}">{{ item.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="selected">
                        {{company}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form_field">
                    {{ form.rate_code.errors }}
                    {{ form.rate_code }}
                    <span></span>
                    <label>Rate Code</label>
                </div>
            </div>
            <div class="col-6 justify-content-center">
                <div class="form_field">
                    {{ form.remarks.errors }}
                    {{ form.remarks }}
                    <span></span>
                    <label>Remarks (N/A if none)</label>
                </div>
            </div>
        </div>
        <div class="normal-action-cont" id="normal-action-cont">
            <div class="row">
                <div class="col-6 justify-content-center">
                    <button type='submit' class= 'submitForm'> Save </button>
                </div>
                <div class="col-6 justify-content-center">
                    <button type='button' class= 'cancel' id="cancel" onclick="location.href='{% url 'SDMS:superuser-farmdata' %}'"> Cancel </button>
                </div>
            </div>
        </div>
    </form>
    {% else %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form_field">
            {{ form.farm_name.errors }}
            {{ form.farm_name }}
            <span></span>
            <label>Farm Name</label>
        </div>
        <div class="row">
            <div class="col-6 justify-content-center">
                <div class="form_field">
                    {{ form.address_line_1.errors }}
                    {{ form.address_line_1 }}
                    <span></span>
                    <label>Address Line 1</label>
                </div>
            </div>
            <div class="col-6 justify-content-center">
                <div class="form_field">
                    {{ form.address_line_2.errors }}
                    {{ form.address_line_2 }}
                    <span></span>
                    <label>Address Line 2 (N/A if none)</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.city.errors }}
                    {{ form.city }}
                    <span></span>
                    <label>City</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.province.errors }}
                    {{ form.province }}
                    <span></span>
                    <label>Province</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.zip_code.errors }}
                    {{ form.zip_code }}
                    <span></span>
                    <label>Zip Code</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.distance.errors }}
                    {{ form.distance }}
                    <span></span>
                    <label>Distance</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.capacity.errors }}
                    {{ form.capacity }}
                    <span></span>
                    <label>Capacity</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="select-box-form">
                    <div class="options-container">
                        {% for item in form.company %}
                        <div class="option">
                            {{ item.tag }}
                            <label for="{{ item.id_for_label }}">{{ item.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="selected">
                        {{company}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.rate_code.errors }}
                    {{ form.rate_code }}
                    <span></span>
                    <label>Rate Code</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.billing_rate_override.errors }}
                    {{ form.billing_rate_override }}
                    <span></span>
                    <label>Billing Rate Adjustment</label>
                </div>
            </div>
            <div class="col-4 justify-content-center">
                <div class="form_field">
                    {{ form.remarks.errors }}
                    {{ form.remarks }}
                    <span></span>
                    <label>Remarks (N/A if none)</label>
                </div>
            </div>
        </div>
        <div class="normal-action-cont" id="normal-action-cont">
            <div class="row">
                <div class="col-6 justify-content-center">
                    <button type='submit' class= 'submitForm'> Save </button>
                </div>
                <div class="col-6 justify-content-center">
                    <button type='button' class= 'cancel' id="cancel" onclick="location.href='{% url 'SDMS:superuser-farmdata' %}'"> Cancel </button>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/selected1.js' %}"></script>
</div>
{% endblock %}