{% extends 'superuser_navbar.html' %}

{% block content %}
{% load static %}
<div id="app" class="row">
    <div class="col-8 justify-content-center">
        <div class="form-group">
            <div class="search-box-users">
                <input class="form-control" type="text" id="farmSearch" name="farmSearch" placeholder="Search...">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-8 justify-content-center">
        <div class="item-container" id="item-container">
            {% for farm in farms %}
                <div class="item-v2">
                    <div class="row">
                        <div class="col-10 justify-content-center">
                            <h1>{{ farm.farm_name }}</h1>
                            <div class="row">
                                <div class="col-12 justify-content-center">
                                    <div class="row">
                                        <div class="col-4 justify-content-center">
                                            <h3>Account: {{ farm.company }}</h3>
                                            <h2>Capacity: {{farm.capacity}}</h2>
                                        </div>
                                        <div class="col-8 justify-content-center">
                                            <h3>Address: {{ farm.address_line_1 }} {{ farm.address_line_2 }} {{ farm.city }}, {{ farm.province }}</h3>
                                            <h2>Distance: {{farm.distance}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 justify-content-center">
                            <div class="row" id="farm-action-cont">
                                <div class="col-6 justify-content-center">
                                    <div class="view-item">
                                        <a class="btn" href="{% url 'SDMS:superuser-editfarm' farm.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    </div>
                                </div>
                                <div class="col-6 justify-content-center">
                                    <div class="delete-item">
                                        <a class="btn" href="{% url 'SDMS:farm-delete' farm.id %}"><i class="fa-solid fa-trash-can"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="item-container-body" id="item-container-output">
            <div class="item-container" id="item-body">
                
            </div>
        </div>
    </div>
    <div class="col-1 justify-content-end">
    </div>
    <div class="col-3 justify-content-end">
        <div class="newbtncnt" href="#">
            <button type='button' class= 'new-button-container' onclick="location.href='{% url 'SDMS:superuser-newfarm' %}'"> New <i class="fas fa-plus"></i> </button>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/farm_search.js' %}"></script>
<script>
    {% for msg in messages %}
    alertify.set('notifier','position', 'top-right');
    alertify.success('{{msg}}');
    {% endfor %}
</script>
{% endblock %}