{% extends 'superuser_navbar.html' %}

{% block content %}
{% load static %}
<div class="form-container">
    <h1>Edit User</h1>
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-3 justify-content-center">
                <h2 id="pfp-cont-lbl">Profile Picture</h2>
                <div class="pfp-container">
                    <div class="wrapper">
                        <div class="pfp-image">
                            <img src="{{user.profile_pic.url}}" alt="" id="pfp-photo">
                        </div>
                        <div id="cancel-btn"><i class="fas fa-times"></i></div>
                        <div class="file-name">File name here</div>
                    </div>
                </div>
                <!--<input type="file" id="default-btn" name="profile_picture" accept=".png,.jpg,.jpeg" hidden>-->
                {{ form.profile_pic }}
                <button type="button" onclick="defaultBtnActive()" id="custom-btn">Choose image</button>
            </div>

            <div class="col-9 justify-content-center">
                {{ form.non_field_errors }}
                <div class="form_field">
                    {{ form.first_name.errors }}
                    <!--<input type="text" id="fname" name="first_name" value="{{user.first_name}}" required>-->
                    {{ form.first_name }}
                    <span></span>
                    <label>First Name</label>
                    
                </div>
                <div class="form_field">
                    {{ form.middle_name.errors }}
                    {{ form.middle_name }}
                    <!--<input type="text" name="middle_name" value="{{user.middle_name}}" required>-->
                    <span></span>
                    <label>Middle Name</label>
                </div>
                <div class="form_field">
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                    <!--<input type="text" name="last_name" value="{{user.last_name}}" required>-->
                    <span></span>
                    <label>Last Name</label>
                </div>
                <div class="row">
                    <div class="col-6 justify-content-center">
                        <div class="form_field">
                            {{ form.email_address.errors }}
                            {{ form.email_address }}
                            <!--<input type="text" name="email_address" value="{{user.email_address}}" required>-->
                            <span></span>
                            <label>Email Address (N/A if none)</label>
                        </div>
                    </div>
                    <div class="col-6 justify-content-center">
                        <div class="form_field">
                            {{ form.contact_number.errors }}
                            {{ form.contact_number }}
                            <!--<input type="text" name="contact_number" value="{{user.contact_number}}" required>-->
                            <span></span>
                            <label>Contact Number</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="normal-action-cont" id="normal-action-cont">
                <div class="row">
                    <div class="col-6 justify-content-center">
                        <button type='submit' class= 'submitForm'> Save </button>
                    </div>
                    <div class="col-6 justify-content-center">
                        <button type='button' class= 'cancel' id="cancel" onclick="location.href='{% url 'SDMS:superuser-users' %}'"> Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </form>  
</div>

{% endblock %}